.vscode/
.vscode-test/
out/**
node_modules/**
src/**
test/**
tmp/**
.pnpm-store/
.jj/**
.agents/
.devcontainer/
.github/
.gitignore
.eslintrc*
.prettierignore
eslint.config.mjs
esbuild.config.mjs
**/tsconfig*.json
**/*.map
**/*.ts
pnpm-lock.yaml
*.vsix
